<h1 class="title is-1">Libri da approvare</h1>
<% if @libri.nil? %>
<h1 class="title is-1" style="text-align:center;">Nessun prestito da approvare</h1>
<% else %>
<table class="table">
  <thead>
    <th>Titolo</th>
    <th>Trama</th>
    <th>Approva</th>
    <th>Modifica o cancella</th>
  </thead>
  <tbody>
    <% @libri.each do |libro| %>
      <tr>
        <td><%= link_to libro.titolo, libro %></td>
        <td><%= libro.trama %></td>
        <td><%= link_to 'Appova', approva_path(:id => libro.id), class: 'button is-primary is-small', data: {confirm: 'Questo libro verrà reso immediatamente disponibile per il prestito.'}%></td>
        <td><%= link_to 'Modifica', edit_libro_path(libro.id), class: 'button is-small is-warning'%>  <%= link_to 'Elimina', libro_path(libro.id), class: 'button is-danger is-small', method: :delete, data: {confirm: 'Sei davvero sicuro di voler eliminare questo libro? Il titolo sarà CANCELLATO dal programma così come eventualmente i log. Sii davvero sicuro di quello che fai.'}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
