<h1 class="title is-2">Richiedi un prestito</h1>
<%= link_to 'Aggiungi nuovo libro', new_libro_path, class: 'button is-info' %>
<br />
<table class="table">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Titolo</th>
      <th>Autore</th>
      <th>Richiedi</th>
    </th>
  </thead>
  <tbody>
    <% @libro.each do |libro| %>
      <tr>
        <% if libro.immagine.attached? %>
          <td><%= image_tag libro.immagine.variant(resize: '200') %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to libro.titolo, libro %></td>
        <td><%= libro.autore %></td>
        <td><%= link_to 'Richiedi in prestito', richiedi_path(:id => libro.id), class: 'button is-primary is-medium' %> <%= link_to 'Scheda del libro', libro, class: 'button is-info is-small'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
