<h1 class="title is-2">Aggiungi libro</h1>
<p>Da qui potrai aggiungere un libro che vuoi offrire in prestito alla classe.</p>
<%= form_for(@libro, url: libri_path, method: :post) do |f| %>
  <div class="control">
    <%= f.label :titolo, class: 'label' %>
    <%= f.text_field :titolo, class: 'input' %>
  </div>
  <div class="control">
    <%= f.label :autore, class: 'label' %>
    <%= f.text_field :autore, class: 'input' %>
  </div>

  <% if utente_corrente.admin? %>
    <div class="control">
      <%= f.label :cognome_utente, class: 'label' %>
      <%= f.text_field :cognome_utente, class: 'input' %>
    </div>
  <% end %>
  <br />
  <%= f.submit 'Aggiungi libro', class: 'button is-primary' %>
<% end %>
