<%= image_tag @libro.immagine.variant(resize: "500"), align: :right if @libro.immagine.attached? %>
<h1 class="title is-2"><%= @libro.titolo %></h1>
<h2 class="subtitle is-3"><b>Autore: </b><%= @libro.autore %></h2>
<p><b>Genere:</b> <%= @libro.genere.capitalize %></p>
<p><b>Pagine:</b> <%= @libro.pagine %></p>
<p><b>Proprietario:</b> <%= @libro.utente.cognome.capitalize %></p>

  <br />
<%= link_to 'Richiedi in prestito', richiedi_path(:id => @libro.id), class: 'button is-primary is-large' %>
<br />
<% if !@libro.trama.nil? && !@libro.costo.nil? && !@libro.voto.nil? %>
<% else %>
  <h2 class="title is-3">Trama e dettagli</h2>
<% end %>
<p><%= @libro.trama %></p>
<br />
<% if !@libro.costo.nil? %>
  <p>Se lo prendessi in libreria, pagheresti questo libro <%= number_to_currency(@libro.costo, unit: "€", separator: ',', delimiter: '.', raise: false, format: '%u %n')%>.</p>
  <br />
<% end %>
<% if !@libro.voto.nil? %>
  <p>La media dei voti di questo libro è di <b><%= @libro.voto %></b>.</p>
<% end %>
<br />
<% if @libro.prestito.any? %>
  <h1 class="title is-3">Storico prestiti</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Richiedente</th>
        <th>Recensione</th>
        <th>Pagina prestito</th>
        <th>Stato</th>
      </tr>
    </thead>
    <tbody>
      <% @libro.prestito.each do |prestito| %>
        <tr>
          <td><%= prestito.utente.cognome %></td>
          <td><%= prestito.recensione %></td>
          <td><%= link_to 'Scheda prestito', prestito, class: 'button is-info' %></td>
          <td><%= statoprestito(prestito) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
