<%= image_tag @libro.immagine.variant(resize: "500"), align: :right if @libro.immagine.attached? %>
<h1 class="title is-2"><%= @libro.titolo.capitalize %></h1>
<h2 class="subtitle is-3"><b>Autore: </b><%= @libro.autore.capitalize %></h2>
<p><b>Genere:</b> <%= @libro.genere.capitalize %></p>
<p><b>Pagine:</b> <%= @libro.pagine %></p>
<p><b>Proprietario:</b> <%= @libro.utente.cognome.capitalize %></p>
<% if utente_corrente.admin? || @libro.utente == utente_corrente %>
<br />
  <%= link_to 'Modifica', edit_libro_path(@libro.id), class: 'button is-warning is-small' %>
  <%= link_to 'Elimina', libro_path(@libro.id), class: 'button is-danger is-small', method: :delete, data: {confirm: 'Sei davvero sicuro di voler eliminare questo libro? Il libro sarà CANCELLATO dal programma così come eventualmente i log. Sii davvero sicuro di quello che fai.'} %>
  <br />
<% end %>
  <br />
<% if @libro.stato == 1 %>
  <%= link_to 'Richiedi in prestito', richiedi_path(:id => @libro.id), class: 'button is-primary is-large' %>
<% end %>
<br />
<br />
<% if !@libro.trama.blank? %>
  <h2 class="title is-3">Trama</h2>
<p><%= @libro.trama %></p>
<br />
<% end %>
<% if !@libro.costo.blank? %>
  <p>Se lo prendessi in libreria, pagheresti questo libro <%= number_to_currency(@libro.costo, unit: "€", separator: ',', delimiter: '.', raise: false, format: '%u %n')%>.</p>
  <br />
<% end %>
<% if !@libro.voto.blank? %>
  <p>La media dei voti di questo libro è di <b><%= @libro.voto %></b>.</p>
  <br />
<% end %>
<% if @libro.prestito.any? %>
  <h1 class="title is-3">Storico prestiti</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Richiedente</th>
        <th>Recensione</th>
        <th>Pagina prestito</th>
        <th>Stato</th>
      </tr>
    </thead>
    <tbody>
      <% @libro.prestito.each do |prestito| %>
        <tr>
          <td><%= prestito.utente.cognome.capitalize %></td>
          <td><%= prestito.recensione %></td>
          <td><%= link_to 'Scheda prestito', prestito, class: 'button is-info' %></td>
          <td><%= statoprestito(prestito) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
